
<div>
<h1>Editar Pessoa</h1>

      
        <br>
        CPF : <i><input id="cpf" style="width:99px;height:20px" ng-model="Ctrl.pessoa.cpf" disabled> &nbsp</i>
        Nome: <i><input id="nome" style="height:20px"ng-model="Ctrl.pessoa.nom_pessoa"> &nbsp</i>
        Sexo: <i><select style="height:20px" id="sexo" ng-model="Ctrl.Selectsexo" ng-options="item.name for item in Ctrl.vecSexo"> &nbsp</select></i>
        
        Idade: <i><input ng-model="Ctrl.pessoa.idade_pessoa" id="idade" style="width:30px;height:20px"> &nbsp</i>
        </br>
        <br>Endereço: </br>
        <br>
        Rua/Av :<i><input ng-model="Ctrl.pessoa.end_pessoa" id="end" style="height:20px"  > &nbsp</i>
        Cidade : <i><select style="width:105px;height:20px" id="cidade" ng-model="Ctrl.escolhido" ng-options="item.cidade.nom_cidade +'-' +item.cidade.uf_estado for item in Ctrl.cidades"> &nbsp</select></i>
        UF : <i><input id="estado" style="width:30px;height:20px" disabled ng-value="Ctrl.escolhido.cidade.uf_estado" > &nbsp</i>
        </br>
        <button ng-click="Ctrl.btSalvar()">Salvar</button>
        <button> <a href="#!/Lista">Cancelar</a> </button>
        




</div>