<div class="footer-right-logo">
     <i>{{hoje}}</i> &nbsp 
  <!--
    <a href="" ng-click="Ctrl.teste()">
       <span 
        class="glyphicon glyphicon-off">
      </span>
        Login
        </a>
        -->
</div>


<h1>Bem Vindo</h1>
<!--
<select ng-click="Ctrl.cliqC()" ng-model="cidadeEscolhida" 
ng-options="item.cidade.nom_cidade +'-'+estadoEscolhido.estados.uf_estado for item in listaCidades"></select>

<select  ng-click="Ctrl.cliqE()"
ng-model="estadoEscolhido" ng-options="item.estados.uf_estado for item in Ctrl.estados"></select>

-->

        
    <p> Está pagina é desenvolvida para treinamento.</p>


    <!--
  <div layout-gt-xs="row">
    <div flex-gt-xs>
      <md-datepicker ng-model="data" md-placeholder="Enter date"></md-datepicker>
    </div>
  </div>
  <button ng-click="Ctrl.data()">ok</button>
     
-->